<form [formGroup]="formulario" (submit)="cadastrar()">
  <h2>Novo por aqui? Crie sua conta.</h2>
  <div class="input-group mb-3">
    <input
      type="text"
      formControlName="nome"
      class="form-control form-control-lg"
      id="nome"
      aria-describedby="emailHelp"
      placeholder="Nome"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="email"
      formControlName="email"
      class="form-control form-control-lg"
      id="emailCadastro"
      aria-describedby="emailHelp"
      placeholder="E-mail"
      required
    />
  </div>
  <p class="validacao" *ngIf="formulario.get('email')?.hasError('email')">
    Informe um e-mail válido.
  </p>
  <div class="input-group mb-3">
    <input
      type="password"
      formControlName="senha"
      class="form-control form-control-lg"
      id="senhaCadastro"
      placeholder="Senha"
      required
    />
  </div>
  <p class="validacao" *ngIf="formulario.get('senha')?.hasError('minlength')">
    A senha precisa ter mais de 7 caracteres
  </p>
  <div
    id="alertaCadastro"
    class="alert alert-success"
    role="alert"
    style="display: none"
  ></div>
  <p
    *ngIf="usuarioCadastrado"
    class="mensagem-erro"
    class="alert alert-danger form-control"
    role="alert"
  >
    Usuário já cadastrado
  </p>
  <div class="buttons">
    <input
      type="submit"
      value="Cadastrar"
      class="btn btn-primary form-control-lg"
      [disabled]="formulario.invalid"
    />
  </div>
</form>
