<header>
  <h1>dcTask</h1>

  <a class="link-cadastro" routerLink="/cadastro">Cadastre-se </a>
</header>

<main>
  <figure class="figure">
    <img src="./assets/planejamento.png" alt="#" />
  </figure>

  <section>
    <form [formGroup]="formulario" (submit)="autenticar()" id="formAcessar">
      <h2>Acesse sua conta</h2>

      <div class="input-group mb-3">
        <input
          type="email"
          formControlName="email"
          class="form-control form-control-lg"
          id="emailLogin"
          aria-describedby="emailHelp"
          placeholder="E-mail"
          aria-label="Username"
          aria-describedby="basic-addon1"
          class="form-control"
        />
        <!-- <p *ngIf="formulario.get('email')?.hasError('required')">
          O email precisa ser preenchido
        </p>
        <p *ngIf="formulario.get('email')?.hasError('email')">
          informe um email válido
        </p> -->
      </div>

      <div class="input-group mb-3">
        <input
          type="password"
          formControlName="senha"
          class="form-control form-control-lg"
          id="senhaLogin"
          placeholder="Senha"
          class="form-control"
          required
        />
      </div>

      <p
        *ngIf="senhaIncorreta"
        class="mensagem-erro"
        class="alert alert-danger form-control"
        role="alert"
      >
        Senha ou e-mail incorreto. Tente novamente.
      </p>

      <div class="buttons">
        <input
          type="submit"
          value="Entrar"
          class="btn btn-primary form-control-lg"
          [disabled]="formulario.invalid"
        />
      </div>
    </form>
  </section>
</main>
