header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  border-bottom: 1 solid #aaa;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
header h1 {
  font-size: 4rem;
  font-weight: lighter;
  color: #0d6efd;
  font-family: "Anton", sans-serif;
  width: 14rem;
  display: flex;
  justify-content: center;
}
.iconeRetorno img {
  cursor: pointer;
}
form ::placeholder {
  font-family: "Roboto Flex", sans-serif;
}
input {
  font-family: "Roboto Flex", sans-serif;
}
main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  width: 99%;
}
main figure {
  width: 60%;
  height: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
main figure img {
  width: 50vw;
}
section {
  height: 100%;
}
@media (max-width: 600px) {
  main {
    flex-direction: column;
    justify-content: center;

    height: 100%;
  }
  main figure {
    display: flex;
    align-items: flex-end;
    width: 30rem;
  }
  main figure img {
    width: 100%;
    height: 100%;
  }
}
