<header>
  <h1>Olá, {{ primeiroNome[0] }}.</h1>
  <figure><img src="/assets/sign-out.svg" alt="" (click)="sair()" /></figure>
</header>

<main>
  <h2>Adicione uma tarefa</h2>
  <form [formGroup]="formulario" (submit)="criarTarefa()">
    <div class="input-group mb-3">
      <label for="tarefa" class="form-label"></label>
      <input
        type="text"
        class="form-control"
        id="tarefa"
        placeholder="Tarefa"
        formControlName="tarefa"
      />
    </div>

    <div id="inicio" class="input-group mb-3">
      <label for="dataInit" class="form-label">Início: </label>
      <input
        type="date"
        class="form-control"
        id="dataInit"
        placeholder="Data de início"
        formControlName="dataInit"
      />

      <label for="horaInit" class="form-label"> </label>
      <input
        type="time"
        class="form-control"
        id="horaInit"
        placeholder="Hora de início"
        formControlName="horaInit"
      />
    </div>
    <div id="fim" class="input-group mb-3">
      <label for="dataFim" class="form-label">Término:</label>
      <input
        type="date"
        formControlName="data"
        placeholder="Selecione uma data"
        class="form-control"
        id="dataFim"
        placeholder="Data de termino"
        formControlName="dataFim"
      />

      <label for="horaFim" class="form-label"></label>
      <input
        type="time"
        id="horaFim"
        class="form-control"
        placeholder="hora de fim"
        formControlName="horaFim"
      />
    </div>

    <div class="input-group">
      <textarea
        class="form-control"
        aria-label="With textarea"
        id="descricao"
        placeholder="Descrição"
        formControlName="descricao"
      ></textarea>
    </div>
    <section class="buttons">
      <div class="buttonAlteracoes">
        <input
          *ngIf="buttons"
          type="button"
          value="Alterar Tarefa"
          class="btn btn-primary form-control-lg"
          (click)="modificarTarefa()"
        />
      </div>

      <div class="buttonAlteracoes">
        <input
          *ngIf="buttons"
          type="button"
          value="Excluir tarefa"
          class="btn btn-danger form-control-lg"
          (click)="apagarTarefa()"
        />
      </div>
      <div class="buttonCriarTarefa" *ngIf="!buttons">
        <input
          type="submit"
          value="Criar tarefa"
          class="btn btn-primary form-control-lg"
        />
      </div>
      <div class="buttonAlteracoes" id="">
        <input
          *ngIf="buttons"
          type="button"
          value="Marcar como realizada"
          class="btn btn-success form-control-lg"
          (click)="modificarTarefa('Realizada')"
        />
      </div>
      <div class="buttonAlteracoes">
        <input
          *ngIf="buttons"
          type="submit"
          value="Cancelar"
          class="btn btn-secondary form-control-lg"
          (click)="cancelar()"
        />
      </div>
    </section>
  </form>
</main>
<section class="tabela">
  <app-tabela (alterar)="alterar($event)"></app-tabela>
</section>
