* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  border-bottom: 1 solid #aaa;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  height: 100%;
}
header figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 5%;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 5rem;
}
.tabela {
  /* border: solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; */
}

.button-tarefa {
  display: flex;
  justify-content: space-evenly;

  justify-content: center;
  align-items: center;
  height: 5rem;
}
#tabelaDados {
  width: 90%;
}
.buttons {
  display: flex;
  width: 100%;
}
.buttonCriarTarefa {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonALterarTarefa {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonExcluirTarefa {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonTarefaRealizada {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonCancelar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  form {
    width: 95vw;
  }
}
