<header>
  <h1>Olá, {{ primeiroNome[0] }}.</h1>
  <figure><img src="/assets/sign-out.svg" alt="" (click)="sair()" /></figure>
</header>

<main>
  <h2>Adicione uma tarefa</h2>
  <form [formGroup]="formulario" (submit)="criarTarefa()">
    <div class="input-group mb-3">
      <label for="exampleFormControlInput1" class="form-label"></label>
      <input
        type="text"
        class="form-control"
        id="tarefa"
        placeholder="Tarefa"
        formControlName="tarefa"
        value="{{ formulario.value.tarefa }}"
      />
    </div>

    <div class="input-group mb-3">
      <label for="exampleFormControlInput1" class="form-label"></label>
      <input
        type="text"
        class="form-control"
        id="dataInicio"
        onfocus="(this.type='date')"
        onblur="(this.type='text')"
        placeholder="Data de início"
        formControlName="dataInit"
        value="{{ formulario.value.dataInit }}"
      />

      <label for="exampleFormControlInput1" class="form-label"></label>
      <input
        type="text"
        class="form-control"
        id="horaInit"
        onfocus="(this.type='time')"
        onblur="(this.type='hora de início')"
        placeholder="Hora de início"
        formControlName="horaInit"
        value="{{ formulario.value.horaInit }}"
      />
    </div>
    <div class="input-group mb-3">
      <label for="exampleFormControlInput1" class="form-label"></label>
      <input
        type="text"
        class="form-control"
        id="dataTermino"
        onfocus="(this.type='date')"
        onblur="(this.type='text')"
        placeholder="Data de termino"
        name="dataTermino"
        formControlName="dataFim"
        value="{{ formulario.value.dataFim }}"
      />

      <label for="exampleFormControlInput1" class="form-label"></label>
      <input
        type="text"
        class="form-control"
        id="horaFim"
        onfocus="(this.type='time')"
        onblur="(this.type='hora de início')"
        placeholder="hora de fim"
        formControlName="horaFim"
        value="{{ formulario.value.horaFim }}"
      />
    </div>

    <div class="input-group">
      <textarea
        class="form-control"
        aria-label="With textarea"
        id="descricao"
        placeholder="Descrição"
        formControlName="descricao"
        value="{{ formulario.value.descricao }}"
      ></textarea>
    </div>
    <section class="buttons">
      <div class="buttonALterarTarefa">
        <input
          *ngIf="buttons"
          type="button"
          value="Alterar Tarefa"
          class="btn btn-primary form-control-lg"
          (click)="modificarTarefa()"
        />
      </div>

      <div class="buttonExcluirTarefa">
        <input
          *ngIf="buttons"
          type="button"
          value="Excluir tarefa"
          class="btn btn-danger form-control-lg"
          (click)="apagarTarefa()"
        />
      </div>
      <div class="buttonCriarTarefa">
        <input
          type="submit"
          value="Criar tarefa"
          class="btn btn-primary form-control-lg"
        />
      </div>
      <div class="buttonTarefaRealizada" id="">
        <input
          *ngIf="buttons"
          type="button"
          value="Marcar como realizada"
          class="btn btn-success form-control-lg"
        />
      </div>
      <div class="buttonCancelar">
        <input
          *ngIf="buttons"
          type="submit"
          value="Cancelar"
          class="btn btn-secondary form-control-lg"
          (click)="cancelar()"
        />
      </div>
    </section>
  </form>
</main>
<section class="tabela">
  <app-tabela (alterar)="alterar($event)"></app-tabela>
</section>
